$block_bg_color: #EFEFEF;
$basic_height: 100px;

@mixin field-styles {
  background-color: $block_bg_color;
  border-radius: 10px;
  height: $basic_height;
  margin: {
    top: 10px;  bottom: 5px;
    left: 10px; right: 10px;
  }
  padding: {
    top: 10px;
    bottom: 10px;
  }
  text-align: center;
}

@mixin centred-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #fff;
  justify-content: center;
}

h1 { @include centred-styles; } 

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  @include centred-styles;
  width: 100%;
}

.nav-links {
  @include centred-styles;
  gap: 20px;
  .nav-link {
      color: #333;
      text-decoration: none;
      &:hover {
          text-decoration: underline;
      }
  }
}

.field {
  @include field-styles;
  
  &--wide     { width: 90%; }
  &--centered  { @include centred-styles; }
  &--wide--centered {
    @extend .field--wide;
    @extend .field--centered;
  }
  &--third {
    width: 100%;
    max-width: 33%;
    height: $basic_height * 2;
    flex: 1;
    
    // нулевой отступ от левого края в ряду
    &:first-child { margin-left:  0; }
    // нулевой отступ от правого края в ряду
    &:last-child  { margin-right: 0; }
  }
}

.fields-row {
  margin: 15px 0px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}