body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
