.number-list .num-1 {
  color: #01ff00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-2 {
  color: #02fe00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-3 {
  color: #03fd00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-4 {
  color: #04fc00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-5 {
  color: #05fb00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-6 {
  color: #06fa00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-7 {
  color: #07f900;
  display: inline-block;
  margin: 2px;
}
.number-list .num-8 {
  color: #08f800;
  display: inline-block;
  margin: 2px;
}
.number-list .num-9 {
  color: #09f700;
  display: inline-block;
  margin: 2px;
}
.number-list .num-10 {
  color: #0af600;
  display: inline-block;
  margin: 2px;
}
.number-list .num-11 {
  color: #0bf500;
  display: inline-block;
  margin: 2px;
}
.number-list .num-12 {
  color: #0cf400;
  display: inline-block;
  margin: 2px;
}
.number-list .num-13 {
  color: #0df300;
  display: inline-block;
  margin: 2px;
}
.number-list .num-14 {
  color: #0ef200;
  display: inline-block;
  margin: 2px;
}
.number-list .num-15 {
  color: #0ff100;
  display: inline-block;
  margin: 2px;
}
.number-list .num-16 {
  color: #10f000;
  display: inline-block;
  margin: 2px;
}
.number-list .num-17 {
  color: #11ef00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-18 {
  color: #12ee00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-19 {
  color: #13ed00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-20 {
  color: #14ec00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-21 {
  color: #15eb00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-22 {
  color: #16ea00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-23 {
  color: #17e900;
  display: inline-block;
  margin: 2px;
}
.number-list .num-24 {
  color: #18e800;
  display: inline-block;
  margin: 2px;
}
.number-list .num-25 {
  color: #19e700;
  display: inline-block;
  margin: 2px;
}
.number-list .num-26 {
  color: #1ae600;
  display: inline-block;
  margin: 2px;
}
.number-list .num-27 {
  color: #1be500;
  display: inline-block;
  margin: 2px;
}
.number-list .num-28 {
  color: #1ce400;
  display: inline-block;
  margin: 2px;
}
.number-list .num-29 {
  color: #1de300;
  display: inline-block;
  margin: 2px;
}
.number-list .num-30 {
  color: #1ee200;
  display: inline-block;
  margin: 2px;
}
.number-list .num-31 {
  color: #1fe100;
  display: inline-block;
  margin: 2px;
}
.number-list .num-32 {
  color: #20e000;
  display: inline-block;
  margin: 2px;
}
.number-list .num-33 {
  color: #21df00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-34 {
  color: #22de00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-35 {
  color: #23dd00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-36 {
  color: #24dc00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-37 {
  color: #25db00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-38 {
  color: #26da00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-39 {
  color: #27d900;
  display: inline-block;
  margin: 2px;
}
.number-list .num-40 {
  color: #28d800;
  display: inline-block;
  margin: 2px;
}
.number-list .num-41 {
  color: #29d700;
  display: inline-block;
  margin: 2px;
}
.number-list .num-42 {
  color: #2ad600;
  display: inline-block;
  margin: 2px;
}
.number-list .num-43 {
  color: #2bd500;
  display: inline-block;
  margin: 2px;
}
.number-list .num-44 {
  color: #2cd400;
  display: inline-block;
  margin: 2px;
}
.number-list .num-45 {
  color: #2dd300;
  display: inline-block;
  margin: 2px;
}
.number-list .num-46 {
  color: #2ed200;
  display: inline-block;
  margin: 2px;
}
.number-list .num-47 {
  color: #2fd100;
  display: inline-block;
  margin: 2px;
}
.number-list .num-48 {
  color: #30d000;
  display: inline-block;
  margin: 2px;
}
.number-list .num-49 {
  color: #31cf00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-50 {
  color: #32ce00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-51 {
  color: #33cd00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-52 {
  color: #34cc00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-53 {
  color: #35cb00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-54 {
  color: #36ca00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-55 {
  color: #37c900;
  display: inline-block;
  margin: 2px;
}
.number-list .num-56 {
  color: #38c800;
  display: inline-block;
  margin: 2px;
}
.number-list .num-57 {
  color: #39c700;
  display: inline-block;
  margin: 2px;
}
.number-list .num-58 {
  color: #3ac600;
  display: inline-block;
  margin: 2px;
}
.number-list .num-59 {
  color: #3bc500;
  display: inline-block;
  margin: 2px;
}
.number-list .num-60 {
  color: #3cc400;
  display: inline-block;
  margin: 2px;
}
.number-list .num-61 {
  color: #3dc300;
  display: inline-block;
  margin: 2px;
}
.number-list .num-62 {
  color: #3ec200;
  display: inline-block;
  margin: 2px;
}
.number-list .num-63 {
  color: #3fc100;
  display: inline-block;
  margin: 2px;
}
.number-list .num-64 {
  color: #40c000;
  display: inline-block;
  margin: 2px;
}
.number-list .num-65 {
  color: #41bf00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-66 {
  color: #42be00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-67 {
  color: #43bd00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-68 {
  color: #44bc00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-69 {
  color: #45bb00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-70 {
  color: #46ba00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-71 {
  color: #47b900;
  display: inline-block;
  margin: 2px;
}
.number-list .num-72 {
  color: #48b800;
  display: inline-block;
  margin: 2px;
}
.number-list .num-73 {
  color: #49b700;
  display: inline-block;
  margin: 2px;
}
.number-list .num-74 {
  color: #4ab600;
  display: inline-block;
  margin: 2px;
}
.number-list .num-75 {
  color: #4bb500;
  display: inline-block;
  margin: 2px;
}
.number-list .num-76 {
  color: #4cb400;
  display: inline-block;
  margin: 2px;
}
.number-list .num-77 {
  color: #4db300;
  display: inline-block;
  margin: 2px;
}
.number-list .num-78 {
  color: #4eb200;
  display: inline-block;
  margin: 2px;
}
.number-list .num-79 {
  color: #4fb100;
  display: inline-block;
  margin: 2px;
}
.number-list .num-80 {
  color: #50b000;
  display: inline-block;
  margin: 2px;
}
.number-list .num-81 {
  color: #51af00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-82 {
  color: #52ae00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-83 {
  color: #53ad00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-84 {
  color: #54ac00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-85 {
  color: #55ab00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-86 {
  color: #56aa00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-87 {
  color: #57a900;
  display: inline-block;
  margin: 2px;
}
.number-list .num-88 {
  color: #58a800;
  display: inline-block;
  margin: 2px;
}
.number-list .num-89 {
  color: #59a700;
  display: inline-block;
  margin: 2px;
}
.number-list .num-90 {
  color: #5aa600;
  display: inline-block;
  margin: 2px;
}
.number-list .num-91 {
  color: #5ba500;
  display: inline-block;
  margin: 2px;
}
.number-list .num-92 {
  color: #5ca400;
  display: inline-block;
  margin: 2px;
}
.number-list .num-93 {
  color: #5da300;
  display: inline-block;
  margin: 2px;
}
.number-list .num-94 {
  color: #5ea200;
  display: inline-block;
  margin: 2px;
}
.number-list .num-95 {
  color: #5fa100;
  display: inline-block;
  margin: 2px;
}
.number-list .num-96 {
  color: #60a000;
  display: inline-block;
  margin: 2px;
}
.number-list .num-97 {
  color: #619f00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-98 {
  color: #629e00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-99 {
  color: #639d00;
  display: inline-block;
  margin: 2px;
}
.number-list .num-100 {
  color: #649c00;
  display: inline-block;
  margin: 2px;
}
